{% load url from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us"}}" class="no-js">
<head>
    <meta charset="UTF-8" />
    <title>RoboKnights Swear Jar{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}/static/css/base.css{% endblock %}" />
    {% block extrastyle %}{% endblock %}

    {% block extrahead %}{% endblock %}
</head>

{% block body %}
<body class="{% block bodyclass %}{% endblock %} {% if user and user.is_active %}user{% else %}guest{% endif %}">

    {% block header %}
    <header id="header">
        <div id="links">&nbsp;{% block links %}
        {% if user and user.is_active %}
            <p>Logged in as {{ user.first_name }} {{ user.last_name }}</p>
            <a href="/logout/">Log Out</a>
        {% endif %}{% endblock links %}
        </div>
    </header>
    {% endblock header %}

    {% block main %}
    <section id="main">
        {% block content %}
        {{ content }}
        {% endblock %}
    </section>
    {% endblock main %}

    {% block footer %}
    <footer id="footer">
        <div id="copyright">Copyright &copy; 2012 <a href="http://ianonavy.freeiz.com/">Ian Adam Naval.</a> All rights reserved.</div>
    </footer>
    {% endblock footer %}

</body>
{% endblock body %}

</html>
