{% extends "core/base.html" %}
{% load core_extras %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css" />
{% endblock %}

{% block content %}
<div id="table">
<table id="debts">
	<thead id="header_row">
		<tr><td>Name</td>
		{% for type in types %}<td>{{ type.phrase }}</td>
		{% endfor %}<td>Total</td>
	</tr></thead>
	<tbody>
	{% for knight in knights %}<tr>
		<td class="name">{{ knight.name }}</td>
		{% for debt in knight.all_debts %}<td class="debt"><a href="/add_swear?id={{ knight.id }}&amp;type={{ debt.type }}">{{ debt.value|currency }}</a></td>{% endfor %}
		<td>{{ knight.total_debt|currency }}</td>
	</tr>{% endfor %}
	</tbody>
</table>
Total: {{ total|currency }}
</div>
<a href="/undo/">Undo last</a>
<div id="config">
	<div id="new_knight_form">Add a new team member:
	<form id="add_knight" action="add_knight/" method="POST">
		{% csrf_token %}
		<label>Name: <input id="name" name="name" type="text" /></label>
		<input id="submit_knight" name="submit" type="submit" value="Add" />
	</form></div>
	<div id="new_swear_form">Add a new swear type:
	<form id="add_type" action="add_type/" method="POST">
		{% csrf_token %}
		<label>Phrase: <input id="phrase" name="phrase" type="text" /></label>
		<label>Value: $<input id="value" name="value" type="text" /></label>
		<input id="submit_new_swear" name="submit" type="submit" value="Add" />
	</form></div>
	<div id="add_swear_form">Add a new swear:
	<form id="add_swear" action="add_swear" method="GET">
		{% csrf_token %}
		<label>Name: <select id="knight_name" name="id">
			{% for knight in knights %}<option value="{{ knight.id }}">{{ knight.name }}</option>{% endfor %}
		</select></label>
		<label>Swear: <select id="swear_type" name="type">
			{% for type in types %}<option value="{{ type.id }}">{{ type.phrase }}</option>{% endfor %}
		</select></label>
		<label>Quantity: <input id="swear_quantity" name="quantity" type="text"></label>
		<input id="submit_swear" name="submit" type="submit" value="Add" />
	</form></div>
</div>
{% endblock content%}
