{% extends "core/base.html" %}
{% load core_extras %}

{% block content %}

<table>
	<thead>
		<td>Name</td>
		{% for type in types %}<td>{{ type.phrase }}</td>
		{% endfor %}<td>Total</td>
	</thead>{% for knight in knights %}<tr>
		<td class="name">{{ knight.name }}</td>
		{% for debt in knight.all_debts %}<td class="debt"><a href="/add_swear?id={{ knight.id }}&type={{ debt.type }}">{{ debt.value|currency }}</a></td>{% endfor %}
		<td>{{ knight.total_debt|currency }}</td>
	</tr>{% endfor %}
</table>
Total: {{ total|currency }}

<a href="/undo/">Undo last</a>

Add a new team member:
<form id="add_knight" action="add_knight/" method="POST">
	{% csrf_token %}
	<label>Name: <input id="name" name="name" type="text" /></label>
	<input id="submit" name="submit" type="submit" value="Add" />
</form>

Add a new swear type:
<form id="add_type" action="add_type/" method="POST">
	{% csrf_token %}
	<label>Phrase: <input id="phrase" name="phrase" type="text" /></label>
	<label>Value: $<input id="value" name="value" type="text" /></label>
	<input id="submit" name="submit" type="submit" value="Add" />
</form>

{% endblock content%}
