#debts {
    min-width: 800px;
    max-width: 960px;
    margin: 0 auto;
}

.knight h2 {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.knight ul {
    margin: 0;
    padding: 0;
}

.knight ul li {
    list-style: none;
}

div#config {
    width: 720px;
    height: 128px;
    margin: 24px auto;
}

div#config div {
    width: 33%;
}

div#config div#new_knight_form {
    float: left;
}

div#config div#new_swear_form {
    float: left;
}

div#config div#add_swear_form {
    float: right;
}
